body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	width: 100%;
	height: 100px;
	position: relative;
}
header div{
	float: left;
	padding-left: 20px;
}
.bg{
	width: 85%;
	box-shadow: 2px 2px 30px #c2baba;
	display: flex;
	margin: 30px auto;
	flex-direction: column;
	align-items: center;
	margin-top: -60px;
	position: relative;
	background-size: 1000px;
	border-radius: 10px;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 190vh;
	background: linear-gradient(45deg,#fff8d6 1%,#FFFFFF 100%);
	border-radius: 20px;
    font-family: sans-serif;
}
/*header end*/


/*Search Strt*/
.SearchArea {
    position: fixed;
	right: 90px;
	top: 50px;
	width:170px;
	height: 45px;
	background-color:#fff;
	display: flex;
	justify-content:center;
	align-items: center;
	border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
	box-sizing: border-box;
	z-index: 1;
	border:1px solid rgba(167, 158, 245, 0.1);
}
.searchbox input{
    width: 90px;
	height: 20px;
	border: none;
	outline: none;
	background-color: transparent;
	color: #1F1F1F;
	font-size: 1rem;
	padding: 0px 10px;
}
.searchbox input::placeholder{
	color: #1D1D1D;
	font-weight:400;
	letter-spacing: 2px;
	font-size: 0.8rem;
	font-family: poppins;
}
/*Search End*/



/*left icon Strt*/

.iconArea{
	position:fixed;
	left: 24px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 10px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 5px 0px;
	z-index: 1;
	font-size: 19px;
}

.iconArea a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 19px 14px;
	text-decoration: none;
}


.iconArea a i{
	color:rgba(39,39,39,0.80);
}
 

.iconArea a:hover .fa-facebook-f{
	color: #0051ff;
	font-size: 20px;
}
.iconArea a:hover .fa-twitter{
	color: #00acee ;
	font-size: 20px;
}
.iconArea a:hover .fa-instagram{
	color:  #db24fffa ;
	font-size: 20px;
}
.iconArea a:hover .fa-youtube{
    font-size: 20px;
	color: 	#FF0000;
}
/*Left icon End*/


/*right icon Strt*/
.home-box{
    position:fixed;
	right: 30px;
	top: 30%;
	transform: translateY(-50%);
	border-radius: 20px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 5px  0px;
	z-index: 1;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 19px 12px;
	margin: 0;
}
.home-box a i{
        color:rgba(39,39,39,0.80);
		font-size: 20px;
}
.home-box a:hover .fa-home{
	color: #5a52ff;
	font-size: 22px;
	transition: .3s;
}

.nv {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #5a52ff;
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
    bottom: 26%;
    left: -85%;
    transform: translateX(-50%);
    transition: opacity 0.6s, visibility 0.3s ;
	transition-delay: .2s;
}

.home-box:hover .nv {
    opacity: 1;
    visibility: visible;
}

.about-box{
    position:fixed;
	right: 30px;
	top: 40%;
	transform: translateY(-50%);
	border-radius: 20px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 5px 0px;
	z-index: 1;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 19px 14px;
}
.about-box a i{
        color:rgba(39,39,39,0.80);
		font-size: 20px;
}

.about-box a:hover .fa-user{
	color: #5a52ff;
	font-size: 22px;
	transition: .3s;
}
.about-box:hover .nv {
    opacity: 1;
    visibility: visible;
}
.Portfolio-box{
    position:fixed;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 20px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 5px 0px;
	z-index: 1;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 19px 13px;
}
.Portfolio-box a i{
        color:rgba(39,39,39,0.80);
		font-size: 20px;
}
.Portfolio-box a:hover .fa-briefcase{
	color: #5a52ff;
	font-size: 22px;
	transition: .3s;
}
.Portfolio-box:hover .nv {
    opacity: 1;
    visibility: visible;
}

.Contact-box{
    position:fixed;
	right: 30px;
	top: 60%;
	transform: translateY(-50%);
	border-radius: 20px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 5px 0px;
	z-index: 1;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 19px 13px;
}
.Contact-box a i{
        color:rgba(39,39,39,0.80);
		font-size: 20px;
}
.Contact-box a:hover .fa-envelope-open{
	color: #5a52ff;
	font-size: 22px;
	transition: .3s;
}
.Contact-box:hover .nv {
    opacity: 1;
    visibility: visible;
}
.Blog-box{
    position:fixed;
	right: 30px;
	top: 70%;
	transform: translateY(-50%);
	border-radius: 20px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 5px 0px;
	z-index: 1;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 19px 11px;
}
.Blog-box a i{
        color:rgba(39,39,39,0.80);
		font-size: 20px;
}
.Blog-box a:hover .fa-solid{
	color: #5a52ff;
	font-size: 22px;
	transition: .3s;
}
.Blog-box:hover .nv {
    opacity: 1;
    visibility: visible;
}
/*right icon End*/

/* animation Start*/
body{
    animation: fadeIn 0.9s  ease; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    50% {
        opacity: 1;
        transform: translateY(50px);
    }
	100% {
        opacity: 2;
        transform: translateY(0px);
    }

}

/* animation End*/


/*Footer start*/
footer{
	background-color: #1f1f2e;
	width: 100%;
	height: 240px;
	position: absolute;
	color: white;
	margin-top: 10px;
}
footer .foot{
	width: 80%;
	height: auto;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 10px;
}
footer .foot .foot1 p{
	color: rgba(255, 255, 255, 0.5);
}
footer .foot .foot1 input{
	font-size: 15px;
	outline: none;
	border: none;
	padding: 10px 120px 10px 10px;
	border-radius: 25px
}
footer .foot .foot1 button{
	font-size: 15px;
	color: white;
	background-color: #5a52ff;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 25px;
}
footer .foot .foot2 i{
	font-size: 20px;
	padding: 2px 5px;
	color: white;
}
footer .foot .foot2 i:hover{
	color: #5a52ff;
}
footer .foot .foot2{
	padding-left: 30px;
}

/*Footer End*/
@media (max-width:768px){
	footer{
		width: 100%;
		height: 65vh;
		position: relative;
		top: 30px;
	}
	
	footer .foot{
		display: block;
		position: relative;
		top: 70px;
	}
	
	foot1 .bt{
		width:80%;
	}
	footer .foot .foot1 input{
		font-size: 15px;
		outline: none;
		border: none;
		padding: 10px 80px 10px 10px;
	}
}

/* start */
.about{
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.8);
}
.me{
    color: #5a52ff;
}
hr{
	margin-top: 20px;
	padding: 1px;
	background-color: rgba(0, 0, 0, 0.3);;
}
.info_nm{
	font-size: 25px;
	padding-bottom: -20px;
	margin-bottom: -10px;
	margin-top: 40px;
	text-align: center;
}

.info{
	margin-top: -10px;
	width: 50%;
	height: 360px;
	text-align:left;
	justify-content: space-between;
}

.info li{
	display: flex;
	justify-content: space-between;
    text-align: left;
	padding: 15px 30px 0px 40px;
	list-style: none;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	float: left;
}

.info .titl{
  color:rgba(76, 0, 255, .5);
  padding-right: 0px;
}
.info .dt{
	color: #3f3f3f;
	text-align: left;
}
.info .dt1{
	color: green;
	padding-right: 49px;
}
.info .dt2{
  padding-right: 49px;
}

.cv_box{
	width: 50%;
	height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;;

}
.cv{
	width: 170px;
	height: 52px;
	font-size: 20px;
	background:rgba(90, 82, 255, 0.4);
	text-decoration: none;
	color: rgb(255, 255, 255);
	outline: none;
	border: none;
	border-radius: 20px;
	text-decoration: none;
	text-align: center;
}
.cv_box .fa-solid{
	text-decoration: none;
	font-size: 42px;
	color: rgba(90, 82, 255, 0.4);
	margin-left: 70px;
	margin-top: 10px
	
}
.cv:hover{
	width: 175px;
	height: 54px;
	background:rgba(90, 82, 255, 0.8);
	font-size: 22px;
	transition: .3s;
	cursor: pointer;
}
.cv_box .fa-solid:hover{
	color: rgba(90, 82, 255, 0.8);
	font-size: 49px;
	transition: .3s;
	cursor: pointer;
}
.row2{
	display: flex;
	position: absolute;
	height: 150px;
	text-align:center;
	top:270px;
	left:90%;
	right:-30%;
	transform: translate(-90%,-50%);
	justify-content: space-between;
}
.box1{
	text-align: center;
	background-color: #d9d4db;
	color: #000000;
	width: 200px;
	height: 130px;
	border-radius: 20px;
	font-size: 20px;
}
.scor{
	font-size: 30px;
	margin-bottom: 10px;
}
.row4{
	display: flex;
	position: absolute;
	height: 150px;
	text-align:center;
	top: 440px;
	left:90%;
	right:-30%;
	transform: translate(-90%,-50%);
	justify-content: space-between;
}
.box2{
	text-align: center;
	background-color: #d9d4db;
	color: #000000;
	width: 200px;
	height: 130px;
	border-radius: 20px;
	font-size: 20px;
}
.scor{
	font-size: 30px;
	margin-bottom: 10px;
}

.box2:hover{
	background-color: rgba(63, 63, 63, 0.5);
	width: 210px;
	height: 140px;
	font-size: 22px;
	transition: 0.5s;
}

.box1:hover{
	background-color: rgba(63, 63, 63, 0.5);
	width: 210px;
	height: 140px;
	font-size: 22px;
	transition: 0.5s;
}
.about1{
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.8);
	margin-top: 80px;
	margin-bottom: 30px;
}

.skills-container {
	max-width: 750px;
	height: 250px;
	margin: 0 auto;
}

.skill {
	margin-bottom: 10px;
}

.skill-name {
	font-weight: bold;
}

.skill-bar {
	width: 100%;
	background-color: #d6c6e0;
	height: 10px;
	border-radius: 5px;
}

.skill-level {
	height: 100%;
	border-radius: 5px;
	background-color: #5a52ff;
}

.resume-box{
	width: 50%;
	height: 80px;
	font-family: sans-serif;
	margin-left: -70px;
	margin-top: 50px;

}
.resume-box ul li{
	list-style: none;
}
.resume-box2{
	width: 350px;
	display: flex;
	position: absolute;
	right:10%;
	height: 80px;
	margin-top: -95px;
	font-family: sans-serif;
}
.resume-box2 ul li{
	list-style: none;
}