body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #000000;
}
header{
	width: 100%;
	height: 100px;
	position: relative;
	padding-top: 20px;
}
header div{
	width: 90%;
	float: left;
	padding-left: 75px;
	padding-right: -20px;
	padding-bottom: 10px;
}
.bg{
	width: 85%;
	box-shadow: 2px 2px 30px #5f5f5f;
	display: flex;
	margin: 30px auto;
	flex-direction: column;
	align-items: center;
	margin-top: -60px;
	position: relative;
	background-size: 1000px;
	border-radius: 30px;

}
.container{
    width: 100%;
    height: 90vh;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 20px;
}


a{
   text-decoration: none;
}
/*Search Strt*/
.SearchArea {
    position: fixed;
	right: 90px;
	top: 50px;
	width:200px;
	height: 40px;
	background-color: #ffd87c;
	display: flex;
	justify-content:center;
	align-items: center;
	border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
	box-shadow: 2px 2px 30px rgb(95, 95, 95,);
	box-sizing: border-box;
	z-index: 1;
}
.searchbox input{
    width: 150px;
	height: 20px;
	border: none;
	outline: none;
	background-color: transparent;
	color: #1F1F1F;
	font-size: 1rem;
	padding: 0px 10px;
}
.searchbox input::placeholder{
	color: #1D1D1D;
	font-weight:400;
	letter-spacing: 2px;
	font-size: 0.8rem;
	font-family: poppins;
}
/*Search End*/

.section1{
    position:absolute;
    left:12%;
    top: 55%;
    transform: translate(-15%,-50%);
	padding-bottom: 50px;
	padding-top: -10px;
}
.bg-img{
	border-radius: 20px;

}
.section1 img {
    height: 620px;
	border-radius: 20px;
	box-shadow: 2px 2px 30px #141414;
	
}
.section1Button{
	position: absolute;
	top:50%;
	left:90%;
	right:-30%;
	transform: translate(-90%,-50%);
}
.section1Button  h1, h2 ,b{
	font-family:Roboto;
	font-weight: bold;
	margin: 0px;
    line-height: 55px;
	font-size: 2.9rem;
	text-shadow: 2px 2px 10px rgb(95, 95, 95,);
	letter-spacing: 3px;
    color:#ffffff; 
    text-transform: uppercase;
}
b{
	font-family:Roboto;
	font-weight: bold;
	margin: 0px;
    line-height: 55px;
	font-size: 1.7rem;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.08);
	letter-spacing: 3px;
    color:#3D3D4A;
    text-transform: uppercase;
}

span {
color:#FFB400;
}

.section1Button h1{
    letter-spacing:22px;
}
.section1Button b {
	color: #000000;
    letter-spacing:10px;
}
.me{
	font-family: sans-serif;
	font-size: 15x;
}

.btn {
    width:125px;
	height: 36px;
	background-color: #292929;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
	margin-top: 20px;
	margin-left: 10px;
	color:#ffffff;
	font-family: calibri;
	font-weight: 600;
	letter-spacing: 0.5px;
	font-size: 1rem;
    outline: none;
    cursor: pointer;
    border: transparent !important;
}
.btn:hover{
   
	color:#FFFFFF;
	background-color: #FFB400;
	transition: all ease 0.5s;
	font-size: 1.2rem;
	width: 140px;
} 
.btn2 {
    width:125px;
	height: 35px;
	background-color: #FFB400;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
	margin-top: -35px;
	margin-left: 200px;
	color:#ffffff;
	font-family: calibri;
	font-weight: 600;
	letter-spacing: 0.5px;
	font-size: 1rem;
    outline: none;
    cursor: pointer;
    border: transparent !important;
}
.btn2:hover{
	color:#ffffff;
	background-color:#292929 ;
	transition: all ease 0.5s;
	font-size: 1.2rem;
	width: 140px;
} 


/*left icon Strt*/

.iconArea{
	position:fixed;
	left: 24px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50px;
	background-color: #ffc847;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 5px 5px;
	z-index: 1;
	font-size: 19px;
}

.iconArea a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 19px 10px;
}


.iconArea a i{
	color:rgb(0, 0, 0);
}
 

.iconArea a:hover .fa-facebook-f{
	color: #0051ff;
	font-size: 20px;
}
.iconArea a:hover .fa-twitter{
	color: #00acee ;
	font-size: 20px;
}
.iconArea a:hover .fa-instagram{
	color:  #db24fffa ;
	font-size: 20px;
}
.iconArea a:hover .fa-youtube{
    font-size: 19px;
	color: 	#FF0000;
}

/*right icon Strt*/
.home-box{
    position:fixed;
	right: 30px;
	top: 25%;
	transform: translateY(-50%);
	border-radius: 100px;
	background-color:#FFB400;
	box-shadow: 2px 2px 30px rgb(255, 255, 255,);
	z-index: 1;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 18px 18px;
}
.home-box a i{
		color: #ffffff;
		font-size: 30px;
}
.home-box a:hover .fa-home{
	color: #ffffff;
	font-size: 30px;
	transition: .3s;
}
.nv {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #FFB400;
    color: #000000;
	font-family: sans-serif;
	font-weight: 800;
    padding: 7px 10px;
    border-radius: 30px;
    bottom: 26%;
    left: -85%;
    transform: translateX(-50%);
    transition: opacity 0.6s, visibility 0.3s ;
	transition-delay: .2s;
}
.nv-p {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #FFB400;
    color: #000000;
	font-family: sans-serif;
	font-weight: 800;
    padding: 7px 10px;
    border-radius: 30px;
    bottom: 26%;
    left: -120%;
    transform: translateX(-50%);
    transition: opacity 0.6s, visibility 0.3s ;
	transition-delay: .2s;
}
.nv-c{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #FFB400;
    color: #000000;
	font-family: sans-serif;
	font-weight: 800;
    padding: 7px 10px;
    border-radius: 30px;
    bottom: 26%;
    left: -110%;
    transform: translateX(-50%);
    transition: opacity 0.6s, visibility 0.3s ;
	transition-delay: .2s;
}
.home-box:hover .nv {
    opacity: 1;
    visibility: visible;
}
.about-box{
    position:fixed;
	right: 30px;
	top: 37.5%;
	transform: translateY(-50%);
	border-radius: 100px;
	background-color: #ffdd8f;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 5px 0px;
	z-index: 1;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px 19px;
}
.about-box a i{
     	color:rgba(39,39,39,0.80);
		font-size: 25px;
}
.about-box a:hover .fa-user{
	color: #ffffff;
	font-size: 35px;
	transition: .3s;
}
.about-box:hover{
	background: #FFB400;
}
.about-box:hover .nv {
    opacity: 1;
    visibility: visible;
}
.Portfolio-box{
    position:fixed;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 100px;
	background-color: #ffdd8f;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 5px 0px;
	z-index: 1;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px 18px;
}
.Portfolio-box a i{
	    color:rgba(39,39,39,0.80);
		font-size: 24px;
}
.Portfolio-box a:hover .fa-briefcase{
	color: #ffffff;
	font-size: 33px;
	transition: .3s;
}
.Portfolio-box:hover{
	background: #FFB400;
}

.Portfolio-box:hover .nv-p {
    opacity: 1;
    visibility: visible;
	left: -120%;
}
.Contact-box{
    position:fixed;
	right: 30px;
	top: 62.5%;
	transform: translateY(-50%);
	border-radius: 100px;
	background-color: #ffdd8f;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 5px 0px;
	z-index: 1;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px 17px;
}
.Contact-box a i{
        color:rgba(39,39,39,0.80);
		font-size: 25px;
}
.Contact-box a:hover .fa-envelope-open{
	color: #ffffff;
	font-size: 34px;
	transition: .3s;
}
.Contact-box:hover{
	background:#FFB400;
}

.Contact-box:hover .nv-c {
    opacity: 1;
    visibility: visible;
	left: -110%;
}
.Blog-box{
    position:fixed;
	right: 30px;
	top: 75%;
	transform: translateY(-50%);
	border-radius: 100px;
	background-color: #ffdd8f;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 5px 0px;
	z-index: 1;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px 15px;
}
.Blog-box a i{
        color:rgba(39,39,39,0.80);
		font-size: 25px;
}
.Blog-box a:hover .fa-solid{
	color: #ffffff;
	font-size: 32px;
	transition: .3s;
}
.Blog-box:hover{
	background: #FFB400;
}
.Blog-box:hover .nv {
    opacity: 1;
    visibility: visible;
}
/*right icon End*/

/*Footer start*/
footer{
	background-color: #1f1f2e;
	width: 100%;
	height: 200px;
	position: absolute;
	color: white;
	margin-top: 10px;
}
footer .foot{
	width: 85%;
	height: auto;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 10px;
}

footer .foot .foot1 p{
	color: rgba(255, 255, 255, 0.5);
	font-size: 15px;
}
footer .foot .foot1 input{
	width: 200px;
	font-size: 13px;
	outline: none;
	border: none;
	padding: 10px 20px 10px 20px;
	border-radius: 25px
}
footer .foot .foot1 button{
	font-size: 15px;
	color: white;
	background-color: #FFB400;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 9px 15px;
	border-radius: 25px;
}
footer .foot .foot1 button:hover{
	color: black;
	transition: 1s;
}


footer .foot .foot2 i{
	font-size: 18px;
	padding: 2px 4px;
	color: white;
}
footer .foot .foot2 i:hover{
	color: #FFB400;
}
footer .foot .foot2{
	padding-left: 20px;
}

/*Footer End*/



body{
    animation: fadeIn 0.9s  ease; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    50% {
        opacity: 1;
        transform: translateY(50px);
    }
	100% {
        opacity: 2;
        transform: translateY(0px);
    }

}


@media (max-width:768px){

	
	.container{
		justify-content: center;
		height: 80vh;
	}
	
	.section1 img {
		height: 300px;
		width: 100%;
	}
	.section1Button{
		margin: auto;
		padding: 0;
		height: 755px;
		width: 30%;
		float: right;
		padding: 0px 20px;
		margin-left: 20px;
	}

    .section1Button .btn{
		width: 80px;
		height: 30px;
		font-size: 12px;
	}

	.section1Button h1, h2, b{
		line-height: 30px;
		letter-spacing: 7px;
		width: 100%;
		float: right;
	}
	.section1Button b{
		font-size: 15px;
		letter-spacing: 6px;
	}
	.section1Button h1, h2{
		font-size: 25px;
		width: 100%;
	}
	.section1Button p{
		font-size: 15px;
		width: 100%;
	}
footer{
	width: 100%;
	height: 65vh;
	position: relative;
	top: 30px;
}

footer .foot{
	display: block;
	position: relative;
	top: 70px;
}

foot1 .bt{
	width:80%;
}
footer .foot .foot1 input{
	font-size: 15px;
	outline: none;
	border: none;
	padding: 10px 80px 10px 10px;
}
.SearchArea {
	right: 1%;
}
}